#about {
  display: grid;
  justify-items: center;
  gap: 4rem;
}

.about-text > div:not(:last-child) {
  margin-bottom: clamp(16px, 2vw, 24px);
}

.about-image {
  width: 90%;
  height: auto;
  object-fit: contain;
  align-self: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* lg */
@media (min-width: 64em) {
  #about {
    grid-template-columns: 1fr 1fr;
  }
}
