#blog {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.blog-header {
  height: 25vh;
  background-color: var(--bg-surface);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.blog-layout {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  justify-items: center;
  min-height: 100vh;
}

/* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
/* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
