#blog {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

#blog .load-button {
  padding-top: 2rem;
}

#blog .filters {
  padding-bottom: 1rem;
}

.blog-header {
  height: 25vh;
  background-color: var(--bg-surface);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-layout {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 48em) {
  .blog-layout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 64em) {
  .blog-layout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
