canvas {
  max-width: 100%;
}

.comic-book {
  height: 50vh;
  width: 100%;
}

header {
  font-family: "Product Sans Bold", sans-serif;
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9772727272727273rem + 0.11363636363636363vw,
    1.25rem
  );
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#home {
  position: relative;
  display: grid;
}

.intro {
  margin-top: -2rem;
}

.intro > div:not(:last-child) {
  margin-bottom: clamp(16px, 2vw, 24px);
}

.intro-welcome p:not(:last-child) {
  margin-bottom: clamp(24px, 3vw, 40px);
}

.intro-title:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
  color: var(--highlight-text-color);
}

.intro-name {
  padding: 20px 0 0;
}

#svg-name {
  width: 100%;
  height: auto;
}

#svg-name #first-name-path {
  fill: var(--text-color);
}

#svg-name #last-name-path {
  fill: var(--highlight-text-color);
}

/* md */
@media (min-width: 48em) {
  header {
    font-size: clamp(18px, 2.5vw + 1rem, 22px);
  }
}

/* lg */
@media (min-width: 64em) {
  .comic-book {
    position: absolute;
    left: 60%;
    height: 60vh;
    width: 50%;
  }

  .intro {
    margin-top: 0;
  }

  .intro > div:not(:last-child) {
    margin-bottom: clamp(32px, 3vw, 48px);
  }

  .intro-name {
    max-width: 50%;
  }

  .intro-welcome {
    max-width: 50%;
  }
}

/* xl */
@media (min-width: 80em) {
}
