header {
  font-family: "Product Sans Bold";
  font-size: 24px;
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro > div:not(:last-child) {
  margin-bottom: 60px;
}

.intro-welcome p:not(:last-child) {
  margin-bottom: 40px;
}

.intro-title {
  transform: translateY(50px);
}

.intro-title:not(:last-child)::after {
  content: "|";
  margin: 0 8px;
  color: var(--highlight-text-color);
}

.first-name,
.last-name {
  font-family: "Furious Styles";
  font-size: 48px;
}

.last-name {
  color: var(--highlight-text-color);
  text-transform: uppercase;
  margin-top: -32px;
}

/* md */
@media (min-width: 768px) {
  .first-name,
  .last-name {
    font-size: 80px;
  }

  .last-name {
    margin-top: -56px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .first-name,
  .last-name {
    font-size: 88px;
  }

  .last-name {
    margin-top: -64px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .first-name,
  .last-name {
    font-size: 96px;
  }

  .last-name {
    margin-top: -72px;
  }
}
