:root {
  --highlight-text-color: #16b8f3;
  --text-color: white;
  --debug-color: red;

  /* Responsive root font sizes */
  font-size: 16px; /* Default */
}

@media (min-width: 48em) {
  :root {
    font-size: 17px; /* Medium screens */
  }
}

@media (min-width: 64em) {
  :root {
    font-size: 18px; /* Large screens */
  }
}

@media (min-width: 80em) {
  :root {
    font-size: 19px; /* Extra-large screens */
  }
}

::selection {
  color: var(--text-color);
  background: var(--highlight-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--highlight-text-color);
  transition: color 0.25s ease-out;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-text-color);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

a:hover {
  color: var(--text-color);
}

a:hover::after {
  transform: scaleX(1);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--highlight-text-color);
  cursor: pointer;
  font-size: 2rem;
}

.icon:hover {
  color: var(--text-color);
}

html {
  scrollbar-color: var(--highlight-text-color) transparent;
  scrollbar-width: thin;
}

body {
  background-color: black;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Product Sans", sans-serif;
}

.bg-gradient {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-image {
  background-image: url("background test6.png");
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.container {
  margin: 0 16px 360px;
}

.content {
  flex: 1;
}

ul {
  list-style: none;
}

footer {
  background: #151515;
  text-align: center;
  border-top: 2px solid var(--highlight-text-color);
  padding: 2rem;
}

/* md */
@media (min-width: 48em) {
  .container {
    margin: 0 32px;
  }
}

/* lg */
@media (min-width: 64em) {
  .bg-image {
    background-size: 50%;
  }

  .container {
    margin: 0 160px 360px;
  }
}

/* xl */
@media (min-width: 80em) {
  .container {
    margin: 0 240px 360px;
  }
}
