:root {
  --primary-color: #16b8f3;
  --light-color: white;
  --dark-color: black;
  --error-color: #a71814;

  --background-color: #7f7f7f;
  --highlight-text-color: var(--primary-color);
  --text-color: var(--light-color);
  --bg-surface: var(--dark-color);

  /* Responsive root font sizes */
  font-size: 16px; /* Default */
}

@media (min-width: 48em) {
  :root {
    font-size: 18px; /* Medium screens */
  }
}

@media (min-width: 64em) {
  :root {
    font-size: 20px; /* Large screens */
  }
}

@media (min-width: 80em) {
  :root {
    font-size: 22px; /* Extra-large screens */
  }
}

::selection {
  color: var(--text-color);
  background: var(--highlight-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--highlight-text-color);
  cursor: pointer;
}

a:hover {
  color: var(--text-color);
}

#about,
#contact,
#experience,
#home,
#projects {
  margin: 0 1rem 50px 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--highlight-text-color);
  cursor: pointer;
  font-size: 2rem;
}

.icon:hover {
  color: var(--text-color);
}

html {
  scrollbar-color: var(--highlight-text-color) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-surface);
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Product Sans", sans-serif;
}

body.loading {
  overflow: hidden;
}

.bg-gradient {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}

.bg-image {
  background-color: var(--background-color);
  background-image: url("/background3.jpg");
  background-blend-mode: hard-light;
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -100;
}

.container {
  width: 100%;
}

.glass-container {
  background: rgba(0, 0, 0, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 16px;
}

.content {
  flex: 1;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  border-top: 2px solid var(--highlight-text-color);
  padding: 2rem;
}

.highlight {
  color: var(--highlight-text-color);
}

.error-message,
.loader-message {
  font-size: 10vw;
  text-align: center;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.link {
  display: inline-block;
  position: relative;
  transition: var(--highlight-text-color) 0.25s ease-out;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-text-color);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.page-loader {
  background-color: var(--bg-surface);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#subtitle {
  width: 15rem;
  height: auto;
}

#subtitle #part1 {
  fill: var(--text-color);
}

#subtitle #part2 {
  fill: var(--highlight-text-color);
}

.section-title,
svg {
  margin-bottom: clamp(16px, 2vw, 24px);
}

.sub-category {
  background: rgba(0, 0, 0, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  color: var(--highlight-text-color);
  padding: 2px 8px;
  width: fit-content;
  outline: var(--highlight-text-color) outset 0.5px;
  cursor: default;
}

/* md */
@media (min-width: 48em) {
  #about,
  #contact,
  #experience,
  #home,
  #projects {
    margin: 0 2rem 50px 2rem;
  }
}

/* lg */
@media (min-width: 64em) {
  .bg-image {
    background-size: 50%;
  }

  #about,
  #contact,
  #experience,
  #home,
  #projects {
    margin: 0 8rem 50px 8rem;
  }

  .glass-container {
    padding: 32px;
  }
}

/* xl */
@media (min-width: 80em) {
  .glass-container {
    padding: 64px;
  }
}
