#projects {
  align-items: baseline !important;
}

.filter-btn {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  font-family: "Product Sans Bold", sans-serif;
  margin: 0.5rem;
  cursor: pointer;

  padding: 0.1rem 0.4rem;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-btn.active {
  background-color: var(--highlight-text-color);
  color: var(--bg-surface);
  border-color: var(--highlight-text-color);
}

#projects > div:not(:last-child) {
  margin-bottom: clamp(16px, 2vw, 24px);
}

.projects-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

@media (min-width: 64em) {
  .side-text {
    display: grid;
    justify-items: start;
    justify-content: end;
  }
}
