@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans", sans-serif;
  src: url("../assets/fonts/ProductSans/ProductSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
