.post-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

#blog-post {
  background: var(--bg-surface);
  margin: 2rem auto;
  padding: 1rem;
  min-height: 70vh;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.back-btn {
  color: var(--highlight-text-color);
  font-size: 2rem;
  transition: color 0.3s, transform 0.2s;
  width: 2rem;
  height: auto;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
}

.back-btn:hover {
  color: var(--text-color);
  transform: translateX(-3px);
}

.post-title {
  color: var(--text-color);
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: center;
}

.post-meta {
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post-author,
.post-date {
  display: inline-block;
}

/* post Content */
.post-content {
  line-height: 1.6;
}

.post-body {
  color: var(--text-color);
  word-wrap: break-word;
}

.row-container {
  margin-bottom: 3.5rem;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eaeaea;
}

.row-title {
  font-size: 1rem;
}

.post-image-row {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px 0;
  margin-bottom: 24px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  position: relative;
  height: 20rem;
}

.post-image-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  max-width: 300px;
  overflow: hidden;
}

.image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0; /* Important for flex overflow */
  padding: 8px 8px 0 8px;
}

.image-caption {
  padding: 10px 12px;
  text-align: center;
  /* Ensure text doesn't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: 1px solid var(--text-color);
}

.post-image-row.single-image {
  justify-content: center;
}

.post-image-row.single-image .post-image-container {
  width: auto;
  max-width: 500px;
}

/* Responsive Styles */
@media (min-width: 48em) {
  #blog-post {
    padding: 1.5rem;
    margin: 1rem auto;
  }

  .post-image-row {
    height: 25rem;
  }

  .post-image-container {
    max-width: 400px;
  }

  .post-image-row.single-image .post-image-container {
    max-width: 600px;
  }
}

@media (min-width: 64em) {
  #blog-post {
    padding: 2rem;
  }

  .post-image-row {
    height: 30rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-image-container {
    max-width: 500px;
  }

  .post-image-row.single-image .post-image-container {
    max-width: 700px;
  }
}
