.load-button {
  text-align: center;
}

.project-card div {
  margin-bottom: 0.25rem;
}

.project-card {
  max-width: 8rem;
  aspect-ratio: 8/11;
}

.project-card:hover {
  box-shadow: rgba(255, 255, 255, 0.07) 0px -10px 10px,
    rgba(255, 255, 255, 0.07) 0px 2px 2px, rgba(255, 255, 255, 0.07) 0px 4px 4px,
    rgba(255, 255, 255, 0.07) 0px 8px 8px,
    rgba(255, 255, 255, 0.07) 0px 16px 16px;
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  transition: all 0.25s;
}

.project-img-wrapper {
  max-width: 8rem;
  height: auto;
  aspect-ratio: 8/11;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project-img-wrapper img {
  height: 100%;
}

.project-title {
  text-transform: capitalize;
}

.sub-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
