.load-button {
  text-align: center;
}

.project-image {
  width: 8rem;
  height: auto;
  aspect-ratio: 8/11;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-title {
  color: var(--highlight-text-color);
  text-transform: capitalize;
}
