.section-title {
  border-left: 4px solid var(--highlight-text-color);
  color: var(--highlight-text-color);
  background: black;
  max-width: 5rem;
  height: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  font-family: "Product Sans Bold", sans-serif; /* Fallback font */
  display: flex;
  justify-content: center;
  align-items: center;
}
