// custom properties added to the website
$body-bg: rgb(30, 35, 58);
$body-bg-gradient: rgb(10, 13, 21);
$body-color: white;
$primary: rgb(167, 24, 20);
$dark: hsl(231, 33%, 4%);
$font-family-sans-serif: "Arame-Stencil", sans-serif;
$enable-gradients: true;
$bg-gradient: linear-gradient(
  340deg,
  rgba($body-bg, 1) 20%,
  rgba(black, 0.75) 80%
) !default;
$dropdown-dark-link-color: $primary;
$dropdown-dark-link-hover-bg: $primary;
$dropdown-dark-bg: $dark;
$navbar-dark-active-color: white;
$navbar-dark-hover-color: white;
$navbar-dark-color: $primary;
$navbar-dark-toggler-border-color: $primary;

body {
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

#functionalities {
  user-select: none;
}

#functionalities .musicQueue {
  cursor: pointer;
}

#functionalities .visual {
  cursor: pointer;
}

#functionalities .vol {
  cursor: pointer;
}

#Homepage {
  height: 100vh;
  overflow: auto;
}

#musicContainer {
  background-color: $dark;
}

.navbar {
  box-shadow: 0px 4px 16px -6px rgba($color: $primary, $alpha: 0.6);
}

#playControls {
  user-select: none;
}

#playControls #play {
  cursor: pointer;
}

#playControls #prev {
  cursor: pointer;
}

#playControls #next {
  cursor: pointer;
}

.progressContainer {
  background-color: $body-bg;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 10px;
}

#progress {
  background-color: $primary;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: $body-bg; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: $primary;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: $primary;
  cursor: pointer;
  border-radius: 50%;
}
#volume {
  font-size: 25px;
}

#visualizer {
  font-size: 25px;
}

@font-face {
  font-family: Arame-Stencil;
  src: url(assets/fonts/Arame/ARAME-STENCIL.TTF);
  font-style: normal;
}

@import "../node_modules/bootstrap/scss/bootstrap";
